# These values are just sample values, 
# replace them before running the stack.
DIGGER_DATA_DIR=~/digger/data
FRIGATE_CONFIG_DIR=~/frigate/config
FRIGATE_MEDIA_DIR=~/frigate/media
FRIGATE_PASSWORD=change-me
GITEA_DATA_DIR=~/gitea/data
GITEA_INSTANCE_URL=https://git.example.com
GITEA_REGISTRATION_TOKEN=change-me
GITEA_RUNNER_NAME=home-lab-runner
HOMEASSISTANT_CONFIG_DIR=~/homeassistant/config
JELLYFIN_CACHE_DIR=~/jellyfin/cache
JELLYFIN_CONFIG_DIR=~/jellyfin/config
JELLYFIN_MEDIA_DIR=/mnt/media
JELLYFIN_SERVER_URL=https://jellyfin.example.com
MONGODB_BIND_IP=127.0.0.1
MONGODB_PORT_NUMBER=27017
MOSQUITTO_CONFIG_DIR=~/mosquitto/config
MOSQUITTO_DATA_DIR=~/mosquitto/data
MOSQUITTO_LOGS_DIR=~/mosquitto/logs
N8N_DATA_DIR=~/n8n
NATS_BIND_IP=127.0.0.1
NATS_PORT_NUMBER=4222
NPM_CERTIFICATE_DIR=~/npm/certs
NPM_DATA_DIR=~/npm/data
OLLAMA_DIR=~/ollama
OPEN_PROJECT_ASSETS=~/openproject/assets
OPEN_PROJECT_DATA=~/openproject/data
OPEN_WEBUI_DATA_DIR=~/open_webui
PGADMIN_DATA_DIR=~/pgadmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change-me
PORTAINER_DATA_DIR=~/portainer/data
POSTGRES_DATA_DIR=~/postgres/data
POSTGRES_PASSWORD=change-me
POSTGRES_USER=admin
QDRANT_DATA_DIR=~/qdrant/data
REG_TOKEN=
RELEASE=latest
ROOT_URL=https://chat.example.com
TRANSMISSION_CONFIG_DIR=~/transmission/config
TRANSMISSION_DOWNLOADS_DIR=~/transmission/downloads
TRANSMISSION_PASSWORD=change-me
TRANSMISSION_USERNAME=transmission
TRANSMISSION_WHITELIST=*.*.*.*
