[Unit]
Description=LM Studio Server

[Service]
Type=oneshot
RemainAfterExit=yes
User=root
Environment="HOME=/home/root"
ExecStartPre=/home/root/.lmstudio/bin/lms daemon up
ExecStartPre=/home/root/.lmstudio/bin/lms load openai/gpt-oss-20b --yes
ExecStart=/home/root/.lmstudio/bin/lms server start
ExecStop=/home/root/.lmstudio/bin/lms daemon down

[Install]
WantedBy=multi-user.target